<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>로그인</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/login" method="post">
      <label for="id">아이디</label>
      <input type="text" name="id" id="id" /><br />
      <label for="password">비밀번호</label>
      <input type="password" name="pw" id="pw" /><br />
      <button type="submit">로그인</button>
    </form>
    <script>
      //   function login() {
      //     const id = document.getElementById("id");
      //     if (isLogin) {
      //       alert(`${id}님 환영`);
      //     }
      //   }
    </script>
  </body>
</html>
