/* 링크 방식
div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: lightblue;
  
} */

/* 전체 코드 변경 */
/* * {
  color: red;
} */

/* 태그 선택자 */
/* span {
  background-color: red;
} */

/* 클래스 선택자 */
.orange {
  color: orange;
}

/* 아이디 선택자  */
#orange {
  color: blue;
}

/* 일치 선택자 */
span.orange {
  color: violet;
}

/* 자식 선택자 */
ul > .orange {
  background-color: gray;
}

/* 하위 선택자 */
ul .orange {
  font-weight: bold;
}

/* 인접 형제 선택자 */
.orange + li {
  font-size: 30px;
}

/* 일반 형제 선택자 */
.orange ~ li {
  color: green;
}

/* hover: 마우스 커서 올려놨을 때  */
a:hover {
  color: red;
}

/* active 마우스 클릭 동안 */
a:active {
  background-color: black;
  color: white;
}

/* focuse: 포커스가 되어 있을 때 */
input:focus {
  background-color: lightgray;
}

/* first-child */
.fruit span:nth-child(2) {
  color: red;
}

.fruit div:first-child {
  color: blue;
}

/* last-child */
.fruit h3:last-child {
  text-decoration: overline;
}

.fruit p:last-child {
  color: green;
}

/* not */
.fruit *:not(span) {
  background-color: aqua;
}

/* ::before */
.fruit::before {
  content: "과일 목록 시작";
  color: brown;
}

.fruit::after {
  content: "과일 목록 끝";
  color: brown;
}

input[readonly] {
  background-color: orange;
}

input[type="password"] {
  color: red;
}
