<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>로그인</title>
  </head>
  <body>
    <form name="login-form">
      <fieldset>
        <legend>로그인</legend>
        <input type="text" id="userId" placeholder="아이디" /> <br />
        <input type="password" id="pw" placeholder="비밀번호" /><br />
        <button type="button" onclick="login()">로그인</button>
      </fieldset>
    </form>
    <script>
      function login() {}
    </script>
  </body>
</html>
