<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼 실습</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>GET 요청</h4>
    <form action="/getForm" method="get">
      <input type="text" name="id" placeholder="id" required />
      <input type="password" name="pw" placeholder="pw" required />
      <button type="submit">제출</button>
    </form>
    <br />
    <hr />
    <h4>POST 요청</h4>
    <form action="/postForm" method="post">
      <input type="text" name="id" placeholder="id" readonly />
      <input
        type="password"
        name="pw"
        placeholder="pw"
        pattern="^([a-z0-9]){8,12}"
      />
      <input type="email" /><br />
      <input type="radio" /> <br />
      <input type="checkbox" /><br />
      <input type="tel:010" /><br />
      <input type="number" /><br />
      <input type="date" /><br />
      <input type="time" /><br />
      <button type="submit">제출</button>
    </form>
  </body>
</html>
