<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>회원가입</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <form name="register">
      <label for="userid">ID</label>
      <input type="text" id="userid" name="userid" /><br />
      <label for="pw">PW</label>
      <input type="password" id="pw" /><br />
      <label for="name">Name</label>
      <input type="text" id="name" /> <br />
      <button type="button" onclick="register()">회원가입</button>
    </form>

    <script>
      async function register() {
        const userid = document.getElementById("userid ").value;
        const pw = document.getElementById("pw ").value;
        const name = document.getElementById("name ").value;
        const data = {
          userid,
          pw,
          name,
        };

        const result = await axios({
          url: "/register",
          method: "POST",
          data,
        });
        if (result.data.result) document.location.href = "/";
      }
    </script>
  </body>
</html>
