<!-- 데이터 값을 넣어 구구단 출력 -->
<!-- js(2) 실습8. 구구단 만들기 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구구단</title>
    <script>
      for (i = data; i < 10; i++) {
        console.log("---" + i + "단----");
        for (a = 1; a < 10; a++) {
          console.log(i + "x" + a + "=" + i * a);
        }
      }
    </script>
  </head>
  <body></body>
</html>
