<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>애벌레실습</title>
    <link rel="stylesheet" href="./public/pracitce1.css" />
  </head>
  <body>
    <div class="parent">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
      <div class="circle circle4"></div>
      <div class="circle circle5"></div>
      <div class="circle circle6"></div>
      <div class="circle circle7"></div>
      <img src="grass.png" alt="" class="grass" />
    </div>
  </body>
</html>
